.env
0_vim_swap.sh
3_add_kube.sh
README.md
common_installs.sh
docker_ELK
install.sh
install_dockerSwarm
install_drupal.sh
install_itop.sh
install_joomla.sh
install_ntopng.sh
install_otrs.sh
install_python.sh
install_redmine.sh
install_snipe-IT.sh
update_drupal.sh
update_snipe-it.sh
